In [5]:
import random
random.seed(0)

salaries = [round(random.random() * 1000000, -3) for _ in range(100)]
salaries

[844000.0,
 758000.0,
 421000.0,
 259000.0,
 511000.0,
 405000.0,
 784000.0,
 303000.0,
 477000.0,
 583000.0,
 908000.0,
 505000.0,
 282000.0,
 756000.0,
 618000.0,
 251000.0,
 910000.0,
 983000.0,
 810000.0,
 902000.0,
 310000.0,
 730000.0,
 899000.0,
 684000.0,
 472000.0,
 101000.0,
 434000.0,
 611000.0,
 913000.0,
 967000.0,
 477000.0,
 865000.0,
 260000.0,
 805000.0,
 549000.0,
 14000.0,
 720000.0,
 399000.0,
 825000.0,
 668000.0,
 1000.0,
 494000.0,
 868000.0,
 244000.0,
 325000.0,
 870000.0,
 191000.0,
 568000.0,
 239000.0,
 968000.0,
 803000.0,
 448000.0,
 80000.0,
 320000.0,
 508000.0,
 933000.0,
 109000.0,
 551000.0,
 707000.0,
 547000.0,
 814000.0,
 540000.0,
 964000.0,
 603000.0,
 588000.0,
 445000.0,
 596000.0,
 385000.0,
 576000.0,
 290000.0,
 189000.0,
 187000.0,
 613000.0,
 657000.0,
 477000.0,
 90000.0,
 758000.0,
 877000.0,
 923000.0,
 842000.0,
 898000.0,
 923000.0,
 541000.0,
 391000.0,
 705000.0,
 276000.0,
 812000.0,
 849000.0,
 895000.0,
 590000.0,
 950000.0,
 580000.0,
 451000.0,
 660000.0,
 996000.0,
 917000.0,
 793000.0,
 82000.0,
 613000.0,
 486000.0]

In [7]:
#mean
a = 0
#get sum of observations
for x in salaries:
    a = a +x
#divide sum by number of observations
meanSalary = (a/len(salaries))
print(meanSalary)

585690.0

In [9]:
#median
#sort list ascending
salaries.sort()
#find middle of list
midpoint = int(len(salaries)/2)-1
#since it is even, get the average of 50th and 51st observation
print((salaries[midpoint]+salaries[midpoint+1])/2)

589000.0

In [11]:
#mode
#import collections first
import collections
#initialize instance of Counter on salaries
counted =  collections.Counter(salaries)
#get max value of the values of the dict
maxValue = max(counted.values())
#print(maxValue)
#search dictionary using the key
for x in counted:
    if counted[x] == maxValue:
        print(x)
    else:
        pass

477000.0

In [13]:
#sample variance
#first get square of the variances of each observation
variance = []
for x in salaries:
    variance.append((x-meanSalary)**2)
#sum the square of the variances and divide by length - 1
sampleVariance = sum(variance)/len(salaries)-1
print(sampleVariance)

69957413899.0

In [15]:
#sample standard deviation
#this is the sqrt of the sample variance

import math

sampleStdev = math.sqrt(sampleVariance)
print(sampleStdev)

264494.6386961369

In [17]:
#Comparison with statistics module
import statistics as stat
#mean - our value: 585690.0
print(stat.mean(salaries))
#CORRECT: mean() and our guess match

#median - our value: 589000.0
print(stat.median(salaries))
#CORRECT: median() and our guess match

#mode - our value: 477000.0
print(stat.mode(salaries))
#CORRECT: mode() and our guess match

#sample variance
print(stat.variance(salaries))
#not matching... why?

#sample stdev
print(stat.stdev(salaries))
#not matching... why?

585690.0
589000.0
477000.0
70664054444.44444
265827.11382484

In [39]:
#Exercise 2

#Range = largest - smallest value
range = max(salaries)-min(salaries)
print(range)

#coefficient of variation = stdev/mean * 100
covar = (stat.stdev(salaries)/stat.mean(salaries))*100
print(covar)

#IQR = difference between Q3 and Q1
#find index of q1
indexQ1 = int((25/100)*len(salaries))
#print(indexQ1)
q1 = salaries[indexQ1]
#find index of q3
indexQ3 = int((75/100)*len(salaries))
#print(indexQ3)
q3  = salaries[indexQ3]
#get iqr
iqr = q3 - q1
print(iqr)

#quartile coefficient of dispersion = (q3-q1)/(q3+q1)
qcod = (q3-q1)/(q3+q1)
print(qcod)

995000.0
45.38699889443903
420000.0
0.34146341463414637

In [45]:
#Exercise 3 - diabetes.csv
import pandas as pd

diabetes = pd.read_csv('diabetes.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [47]:
#Identify column names
#Display first 20 records

diabetes[0:20]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [49]:
#Display last 20 records
diabetes[-20:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [55]:
#Change outcome column to diagnosis
diabetes.rename({'Outcome':'Diagnosis'});
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [125]:
#Create a new column Classification that displays 'Diabetes' if Outcome is 1 otherwise 'No Diabetes'
#prepare a function according to logic
def classify(input):
    if input == 1:
        return 'Diabates'
    else:
        return 'No Diabetes'

#diabetes.drop(['Classification'],axis=1,inplace=True)

#create a new empty column
#diabetes.insert(9,'Classification',None)

#insert into the Classification column the result of the function using Outcome as the input
diabetes['Classification'] = diabetes['Outcome'].apply(classify)
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabates
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabates
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabates

In [133]:
#Create a new dataframe "withDiabetes" that gathers data with diabetes

diabetes['Outcome'].filter(like='1', axis=0)

1      0
10     0
11     1
12     0
13     1
      ..
721    0
731    1
741    0
751    0
761    1
Name: Outcome, Length: 230, dtype: int64